.section{
    padding-bottom: 1rem ;
}

.header-section{
    margin-bottom: 2rem;
}

.header-link{
    color: #000;
    text-decoration: underline;
}

.section-heading{
    font-size: 1.5rem;
    font-weight: bold;
    padding:0 !important;
}

hr{
    margin-top: 0;
}